<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/冰咒龍128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/冰咒龍96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/冰咒龍32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/冰咒龍16x16.png">
    <link rel="icon" type="image/ico" href="冰咒龍.png">

<!-- Prettier Core -->
<script src="https://unpkg.com/prettier@3.5.3/standalone.js"></script>

<!-- Prettier Plugins -->
<script src="https://unpkg.com/prettier@3.5.3/plugins/estree.js"></script>
<script src="https://unpkg.com/prettier@3.5.3/plugins/babel.js"></script>
<script src="https://unpkg.com/prettier@3.5.3/plugins/typescript.js"></script>
<script src="https://unpkg.com/prettier@3.5.3/plugins/html.js"></script>
<script src="https://unpkg.com/prettier@3.5.3/plugins/postcss.js"></script>
<script src="https://unpkg.com/prettier@3.5.3/plugins/markdown.js"></script>
<script src="https://unpkg.com/prettier@3.5.3/plugins/json.js"></script>




  </head>


  <body>
    <!-- quasar:entry-point -->

    
  </body>
  
</html>
